/* --night: #121619ff;
--ash-gray: #cad2c5ff; 
--red-cmyk: #e50914ff; */
:root{
  --color-text-light: #333332;
  --color-background-light: #FAF4E5;
  --color-blue-light: #8395CD;
  --night: #121619ff;
  --ash-gray: #cad2c5ff; 
  --red-cmyk: #F58B90; 
  --red-red: #e50914ff; 
}

.darkTheme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-blue-light);
  --color-pink: var(--color-text-light);
}

.lightTheme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-text-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow: hidden;
  transition: overflow 0.5s ease;
  color: #cad2c5
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}


.large {
  font-size: 5vw;
}
.medium {
  font-size: 3vw;
}
.small {
  font-size: 2vw;
}
.tiny {
  font-size: 1vw;
}


.light {
  font-weight: 200;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.content-width {
  width: 84vw;
  max-width: 84vw;
}

.flex {
  display: flex;
  justify-content: center;
}
.center {
  align-items: center;
}
.top {
  align-items: start;
}

.highlight{
  color:  var(--red-cmyk)
}

.boldHighlight{
  color:  var(--red-red)
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.flexBox{
  margin: 2rem
}
.bold {
  font-weight: 600;
}



.loading-svg path {
    fill: var(--night);
}

.loading-container svg {
    height: 7.5vw;
    background: var(--ash-gray);
}

.loading-container rect {
    fill: var(--night);
    transition: 2s;
}

.loading-container {
    background: var(--night);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    transform-origin: right center;
    height: calc(100% + 250px);
    padding-bottom: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% + 10000px));
}

.loading-transition {
    transition: .9s cubic-bezier(.6, 0, 0.25, 1);
}


#contentContainer{
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
}



.toggleBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 10;
  transition: all 0.5s ease;
}

.sunWrapper, 
.moonWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggleButton{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggleCircle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggleButton:hover .toggleCircle{
  transform: scale(0.9);
}
.slide{
  left: 31px;
}


.arrowSVGWrapper{
  z-index: 10;
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: var(--night);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  animation: bounce 0.6s ease-in alternate infinite;
}


.arrowSVGWrapper svg{
  width:  5rem;
  height: 5rem;
}
@keyframes bounce {
  0%{
    transform: translateY(0)
  }

  100%{
    transform: translateY(1.5rem)
  }
}


.sectionContainer{
  height: 100vh;
  overflow: hidden;
  
}


.homeTitle{ 
  z-index: 10;
  margin: 2rem;
  position: absolute;
	top: 20%;
  left: 20%;
	display:block;
  transition: all 1s ease;
}
@keyframes homeTitleSlide {
  0%{
    opacity: 0;
    left: 10%;
  }
  
  100%{
    opacity: 1;
    left: 20%;
  }
}
.homeTitle h1{
  line-height: 0.85;
}
.homeTitle h2{
  margin: 1rem 0 0 0.5rem;
  color: #7C8594
}

.orangeHover {
    margin-top: 2rem;
    background-color: var(--red-cmyk);
    background-image: radial-gradient(circle at center, var(--red-red) 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size 300ms;
    background-size: 0 0;
    background-position: 50% 50%;
}
.orangeHover:hover{
  background-size: 200% 200%;
}
.bigButton {
    padding: 13px 34px;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    width: max-content;
}

#info {
  position: relative;
}






.aboutTitle{
  background-color: var(--night);
  color: var(--ash-gray);
}
.aboutTitle h1 {
  text-transform: capitalize;
  margin: 2rem;
  transition: all 0.5s ease;
}
.profilePic {
  border-radius: 10%;
  width: 30rem;
}
.profilePic:hover {
  transform: scale(1.1); 
}
.aboutProfile {
  opacity: 0;
  width: 40vw;
  transition: all 0.5s ease;
}
.aboutInfo{
  opacity: 0;
  width: 40vw;
  line-height: 1.5;
  transition: all 0.5s ease;
}
.aboutInfo p {
  width: 40vw;
  margin: 1rem;
}

@keyframes aboutProfileSlide {
  0%{
    opacity: 0;
    padding-right: 5rem;
  }
  
  100%{
    opacity: 1;
    padding-right: 0;
  }
}
@keyframes aboutInfoSlide {
  0%{
      opacity: 0;
      padding-left: 5rem;
  }
    
  100%{
      opacity: 1;
      padding-left: 0;
  }
}



.projectsTitle{
  margin: 2.5vh 0 2.5vh 10vw
}

.projectsDisplay{
  flex-wrap: wrap;
}

.projectBox{
  opacity: 0;
  background-color: white;
  border-radius: 1rem;
  color: var(--night);
  margin: 2rem;
  cursor: pointer;
  transition: all .3s ease;
  width: 20vw;
  box-shadow: 0 0 25px var(--red-cmyk);
}
.projectBox:hover{
  box-shadow: 0 0 25px var(--red-red);
  background-color: var(--night);
  color: white;
}

@keyframes projectBoxSlide {
  0%{
      opacity: 0;
      margin-top: 5rem;
    }
    
    100%{
      opacity: 1;
      margin-top: 2rem;
  }
}



.projectBoxDisplay{
  width: 100%;
}
.projectBoxDisplay img {
  border-radius: 0.5rem;
  width: 100%;
}
.projectBoxInfo{
  padding: 1rem;
}

.contactTitle{
  margin: 2rem
}